@font-face {
    font-family: SF-Pro-Semibold;
    src: url("../assets/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Medium;
    src: url("../assets/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Regular;
    src: url("../assets/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Light;
    src: url("../assets/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Thin;
    src: url("../assets/SF-Pro-Display-Thin.otf") format("opentype");
}

a.filepond--credits {
    color: white !important;
}

.sidebar {
    box-shadow: 4px 2px 15px -8px rgba(0, 0, 0, 0.25);
    background-color: #2876bb !important;
    background-image: url('http://www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png');
    font-family: SF-Pro-Semibold !important;
}

.navbar {
    background-image: linear-gradient(75deg, #173d75, #2876bb);
}

.background {
    background-image: linear-gradient(180deg, #eeeeee, #eeeeee);
}

.pos {
    z-index: 0 !important;
    position: relative
}

.title_font {
    font-family: SF-Pro-Semibold, Helvetica, sans-serif;
    font-size: 28px !important;
}

.dash_font {
    font-family: SF-Pro-Semibold, Helvetica, sans-serif;
    font-size: 42px !important;
}

.title_font_sidebar {
    font-family: Arial;
    font-size: 15px !important;
}

a {
    text-decoration: none;
}

.router-link-exact-active>div>div {
    color: white !important;
    font-family: SF-Pro-Semibold, Helvetica, sans-serif;
}

.router-link-exact-active {
    color: white !important;
}

.nav_font {
    letter-spacing: 1px;
    font-family: SF-Pro-Thin;
    font-size: 14px !important;
}

.body_font {
    font-family: SF-Pro-Regular;
}

.bring_forward {
    z-index: 998 !important;
}

.card_lines {
    font-family: SF-Pro-Semibold, Helvetica, sans-serif;
    font-size: 19px !important;
}

.theme--dark.v-sheet {
    background-color: transparent !important;
}